* {
  box-sizing: border-box;


html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  border-bottom: 1mm solid;
  border-top: 1mm solid;
  color: white;
}
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

.top { 
 background-repeat: no-repeat;
background-position: top; 
linear-gradient(to top right, rgba(0,0,0,0), rgba(0,0,0,0.1)), linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.1));


border-top: 5px solid red;
 }

.logo {
   }

  .bottom { 
   background-position:bottom;
}

  h1{ 
  background-image: url(logo.png);
  position: absolute;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  top: 100px;
  text-shadow: 1px 0.5px 1px grey;
}